*:focus {
  outline: none;
  opacity: .6;
}

#form-anchor {
  position: relative;
  margin-top: 4rem;
}


#form-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 1s;
  height: rem-calc(460);
  overflow: hidden;
  &.closed {
    height: 3rem;
    overflow: hidden;
    #form-group {
      width: rem-calc(220);
      margin-top: -4rem;
      background: $white;
    }
    #form-control-close-container,
    form {
      opacity: 0;
    }
    #form-control-open {
      border-bottom: 1px solid $black;
    }
  }
}

#form-group {
  margin: 0 auto;
  padding: 1.5rem 1.5rem .5rem;
  max-width: rem-calc(460);
  background: $light-gray;
  transition: all 1s;
  width: 100%;
}

#form-control-open {
  display: inline-block;
  font-size: rem-calc(14);
  text-transform: uppercase;
  padding: .25rem 0;
  cursor: pointer;
  border-bottom: 1px solid $light-gray;
  transition: border .25s;
}

#form-control-close {
  display: inline-block;
  text-align: center;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

#form-control-close-icon {
  margin-top: .6rem;
  display: inline-block;
  &:before,
  &:after {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 1.75rem;
    background: $black;
  }
  &:before {
    position: relative;
    left: 1px;
    transform: rotate(45deg);
  }
  &:after {
    position: relative;
    transform: rotate(-45deg);
  }
}

form {
  margin: 4rem 0 0;
  transition: all 1s ease-out;
}

.input-group {
  border-bottom: 1px solid $black;
  vertical-align: baseline;
  padding-bottom: 0;
  cursor: text;
}

.input-group-label {
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0 .25rem 0 0;
  line-height: 1;
  border: none;
}

.form-input,
.form-input:focus {
  background: none;
  outline: none;
  border: none;
  color: $black;
  box-shadow: none;
  margin: 0;
}

.input-group,
#form-input-submit {
  transition: all .25s ease-in-out;
  &:hover,
  &:focus {
    opacity: .6;
  }
}

.button.clear {
  border-bottom: 1px solid $black;
}

#form-input-submit {
  margin-top: 4rem;
}