  <footer class="flex-container flex-dir-column large-flex-dir-row">

    <div class="text-center small-order-2 large-order-1 large-text-left">
      <a href="https://www.bozzuto.com" title="Bozzuto" target="_blank"><img src="{{root}}assets/img/Bozzuto-logo.png" alt="Bozzuto" class="footer-logo bozzuto"></a>
      <a href="https://www.carrprop.com" title="Carr Properties" target="_blank"><img src="{{root}}assets/img/Carr_Properties-logo.png" alt="Carr Properties" class="footer-logo carr"></a>
      <a href="https://insightpropertygroupllc.com" title="Insight Propety Group" target="_blank"><img src="{{root}}assets/img/Insight_Property_Group-logo.png" alt="Insight Property Group" class="footer-logo insight"></a>
    </div>

    <div class="flex-child-grow text-center small-order-1 large-order-2">
      <span class="text-uppercase">
        4710&nbsp;Elm&nbsp;Street
        <span class="spacer">&nbsp;</span>
        Bethesda,&nbsp;MD&nbsp;20814
      </span>
<!--
      <span class="spacer">&nbsp;</span>
      <a href="tel:3016005555">
        301.600.5555
      </a>
-->
      <span class="spacer">&nbsp;</span>
    </div>

    <div class="text-center small-order-3 large-text-right">
      <a href="https://www.bozzuto.com/privacy-policy/">Privacy Policy</a>
      <a href="https://www.bozzuto.com/about-us/housing-for-all/"><img src="{{root}}assets/img/ada-eho-icon.png" alt="Equal Housing Opportunity" class="footer-logo eho"></a>
    </div>

  </footer>
</div>